@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:wght@200&display=swap');

/** styling the body **/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    background-color: whitesmoke;
    font-size: 24px;
}

h1,
h2 {
    font-family: cursive, 'Dancing Script';
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #252525;
}

/** styling the header **/
header {
    background-color: seagreen;
    /** padding: 20px; will take out the logo **/
}

li {
    list-style-type: none;
}

.page-header {
    height: 30vh;
}


#logo {
    font-size: 100px;
    margin-top: -50px;
}

.motto {
    font-size: 80px;
}


.text-left {
    text-align: left;
}


/**styling the navigation bar **/

.nav-bar {
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
}

nav {
    padding: 0;
    font-size: 1.0em;
    height: 45px;
    line-height: 45px;
}

nav a {
    text-decoration: none;
    margin: 2.5%;
}

/** creating the right and left blocks **/
div {
    vertical-align: top;
    display: inline-block;
   /*  padding: 70px;
    width: 40%; */
    text-align: justify;
}


#hero-image1 {

    background: url('../images/hero-image1.jpg')no-repeat center center;
    margin-top: 20px;
    width: 30%;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hero-image2 {
    background: url('../images/hero-image2.jpg')no-repeat center center;
    margin-top: 20px;
    width: 30%;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}

#left-block {
    background-color: seagreen;
}

hr {
    height: 2px;
    display: block;
    background-color: whitesmoke;
}

#right-block {
    background-color: burlywood;
}


/** footer styling **/
footer {
    background-color: burlywood;
    padding: 2em;
    text-align: center;
    margin: 0;
}

footer a {
    margin: 2.5%;
    font-size: 1.0em;
    text-decoration: none;
    text-transform: uppercase;
}

footer>a {
    width: 100%;
    clear: both;
    padding: 0;
}

/* form styling*/
.form {
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    border: 2px solid black;
    padding: 20px 30px;
    background-color: burlywood;
    text-align: center;
}

.signup-form {
    border: 2px solid black;
    padding: 20px 30px;
    box-sizing: border-box;
}

#fname,
#lname,
#email {
    border: 2px solid black;
    box-sizing: border-box;
    padding: 4px 10px;
}

#submit {
    text-align: center;
    border: 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 12px;
    padding-left: 30px 30px;
}


/** Media queries **/

/** for larger to medium screen sizes, 1400px wide and below **/

@media screen and (max-width: 1400px) {
    #celebs {
        margin: 0 auto;
        width: 65%;
    }

    #header {
        margin: 0 auto;
        width: 100%;
    }


    #left-block,#right-block {
        width: 100%;
        float: left;
    }
     
   
    .page-header {
        height: 15vh;
        margin:0;
    }

    nav a {
        font-size: 20px;
        height: 5px;
        line-height: 20px;
    }


    #logo {
        font-size: 40px;
    }

     footer {
        font-size: 20px;
        margin:0 auto;
    }
} 

/** for medium screen sizes, 1000px wide and below **/


@media screen and (max-width: 1000px) {

    #celebs {
        width: 100%;
        margin: 0 auto;
    }
    #header {
        margin: 0 auto;
        width: 100%;
        margin-top: 0px;
    }

    nav a {
        font-size: 12px;
        height: 5px;
        line-height: 5px; }

    #left-block,
    #right-block {
        display: block;
        margin: 0 auto;
        width:100%;
        float: none;
    } 

    #logo {
        font-size: 20px;
        margin: 0 auto;
        margin-bottom:0;
    }

    #motto {
    font-size: 15px;
    margin: 0 auto;
}

    footer {
        font-size: 12px;
        margin:0 auto;
        text-align: center;
    }
    
    }
