/** Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:wght@200&display=swap');

/** styling the body **/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    background-color: whitesmoke;
    font-size: 24px;
}

h1,
h2 {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 3px;
    color: #252525;
}

li {
    list-style-type: none;
}

li,
p {
    margin-right: 2rem;
    margin-left: 2rem;
}

a,
a:visited,
a:active,
.dropbtn {
    color: seagreen;
}

/** styling the header **/
header {
    background-color: seagreen;
}


#logo {
    font-size: 80px;
    margin-left: 50px;
}

.motto {
    font-size: 50px;
    margin-right: 20px;
}


/**styling the navigation bar **/

.nav-bar {
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
}

nav{
    padding: 0;
    font-size: 1.0em;
    height: 45px;
    line-height: 45px;
}

nav a {
    text-decoration: none;
    margin: 2.5%;
}

/** creating the top and bottom blocks **/
div {
    display: block;
    text-align: justify;
}


#hero-image1 {
    background: url('../images/hero-image1.jpg')no-repeat center center;
    margin-top: 20px;
    width: 30%;
    height: 430px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hero-image2 {
    background: url('../images/hero-image2.jpg')no-repeat center center;
    margin-top: 20px;
    width: 30%;
    height: 430px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2,
ul {
    text-align: center;
}

#top-block {
    background-color: seagreen;
    margin-left: 20px;
    margin-right: 20px;
}

#bottom-block {
    background-color: burlywood;
    margin-left: 20px;
    margin-right: 20px;
}

hr {
    height: 2px;
    display: block;
    background-color: whitesmoke;
}

/** footer styling **/
footer {
    background-color: burlywood;
    padding: 2em;
    text-align: center;
}

footer a {
    margin: 2.5%;
    font-size: 1.0em;
    text-decoration: none;
    text-transform: uppercase;
}


/* form styling*/

/* Add some padding and background color to the form */
.form {
    margin: 0 auto;
    margin-top: 40px;
    width: 60%;
    border: 2px solid black;
    padding: 20px 30px;
    background-color: burlywood;
    text-align: center;
}

.subscribe-form {
    border: 2px solid black;
    padding: 20px 30px;
    box-sizing: border-box;
}


input[type=text],
input[type=email],
input[type=submit] {
    border: 2px solid black;
    box-sizing: border-box;
    padding: 4px 10px;
}

#submit {
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    border-radius: 12px;
}

#form-header {
    text-align: center;
    margin-top: 40px;
}

/* Style clickable dropdown/ */

/* Dropdown Button */
.dropbtn {
    background-color: whitesmoke;
    text-decoration: none;
    padding: 16px;
    font-size: 1.0em;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}



/** Media queries **/

/** for larger to medium screen sizes, 1200px wide and below **/

@media screen and (max-width: 1200px) {
    #celebs {
        margin: 0 auto;
        width: 65%;
    }

    
    #header {
        margin-right: 2rem;
        margin-left:2rem;
    }


    #left-block,
    #right-block {
        width: 100%;
        /**  float: left; **/
    }

    #hero-image1,
    #hero-image2 {
        width: 100%;
        height: 300px;
    }


    nav a {
        font-size: 20px;
        height: 5px;
        line-height: 20px;
    }


    #logo {
        font-size: 50px;
    }

    footer {
        font-size: 20px;
        margin-right: 10rem;
        margin-left: 12rem;
    }


    /** for medium screen sizes, 1024ppx wide and below **/


    @media screen and (max-width: 1024px) {

        #celebs {
            width: 100%;
            margin: 0 auto;
        }

        nav a,
        .dropbtn {
            font-size: 10px;
            height: 5px;
            line-height: 5px;
        }

       body{
        font-size: 14px;
    }

        footer {
            font-size: 10px;
            margin: auto 0;
        }


        #header {
            font-size: 8px;
            margin: auto 0;
        }
    }
}